@*@model Kztek.Web.Models.VNPAY_Custom*@
@using Kztek.Web.Core.Functions

@{
    ////ViewBag.Title = "Create";
}

<div class="page-header">
    <h1>
        VNPAY Return
    </h1>
</div>
<div class="row">
    @if (TempData["Success"] != null)
    {
        <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <div class="header clearfix">

                <h3 class="text-muted">Kết quả thanh toán</h3>
            </div>
            <div class="table-responsive">
                <h3>@ViewBag.VnpaySuccess</h3>
                <div runat="server" id="displayMsg"></div>
            </div>
        </div>
    </div>
</div>
